body{
	background: #F3EFE0;
	color: blue;
	padding: 0;
	margin: 0;
}
header{
	background:   #F3EFE0;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
	font-family: arial;
	font-size: x-large;
	padding: 0px 15px 0px 15px;
	text-align: left;
}

ol li {
  background: rgb(255, 111, 97);
  color: black;
  padding: 5px;
  margin-left: 35px;
}

header a, h1{
	color: black;
	background: #F3EFE0;
	text-align: left;
	text-decoration: none;
	font-family: arial;
	margin-top: 10px;
}
h2{
	color: #F3EFE0;
	text-align: left;
	text-decoration: none;
	font-family: arial;
	margin-top: 40px;
}
p.hiding{
	color: black;
	background: rgb(255, 111, 97);
}

.vids{
	display: none;
}
header .logo a{
	background-image: url("../images/Vortex_Shadow.jpg");
	
	background-size: 300px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 500px;
	text-indent: -9999999px;
	position: relative;
	top: -40px;
	width: 300px;
	
}
div{
	background: #F3EFE0;
	color: blue;
	padding: 15px;
	display: flex;
	flex-direction: row wrap;
	justify-content: space-between;
}
.features{
	border: 1px solid #F3EFE0;
	border-radius: 50%;
	box-shadow: gray 0px 0px 10px;
	width: 200px;
	text-align: center;
}
header.intros{
	display: inline-block;
	display: flex;
	flex-direction: row;		
}
dev.intros{
	margin: 0;
	background: none;
	color: black;
	list-style-type: none;
	font-size: larger;
	display: inline-block;
	padding: 50px 100px;
	width: 75%;
	text-align: left;
	display: flex;
	flex-direction: row;	
}
p{
	padding: 50px 100px 100px 100px;
}
span{
	color: black;
	text-align: left;
	text-decoration: none;
	font-family: arial;
	margin-top: 0px;	
	display: flex;
	flex-direction: column;	
}
/* h1.name{
	display: flex;
	flex-direction: column;	
} */
/*
.features{
	background: white;
	color: gray;
	padding: 20px;
	display: flex;
	flex-direction: row;	
}

.features figure{
	margin: auto;
	text-transform: uppercase;
	text-align: center;
	width: 100px;
}

.features figure img{
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: gray 0px 0px 10px;
	width: 200px;
	text-align: center;
}



.flex-container2{
	background: black;
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: row wrap;
	justify-content: space-between;
}

nav ul li{
	margin: 0;
	padding: 0 0 0 0;
	background: none;
	color: black;
	list-style-type: none;
	display: inline-block;
	padding: 5px 107px;
	text-align: center;
	display: flex;
	flex-direction: row;	
}
@media screen and (max-width: 1000px) {
	nav ul li{
		background: red;
	}
}
body.Pubs{
	background: rgb(255, 111, 97);
} */
/* nav ul li a{
	margin: 0;
	padding: 0 0 0 0;
	color: black;
	background: none;
} */

footer{
	clear: both;
	position: absolute;
	bottom: 0;
	padding: 10px 100px 10px 10px;
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: black;
	color: white;
}
.foot{
	color: white;
	background-color: black;
}